# Development files
/vendor/
/composer.lock
/.phpunit.result.cache
/build/
# Environment variables
/.env

# Extension vendor directories
extensions/*/vendor/
extensions/*/composer.lock
extensions/*/.env

# Operating system files
.DS_Store
Thumbs.db
extensions/.env

*.gluex
*.gluex
